.folder {
    padding-left: 16px;
    margin-bottom: 10px;
    background-image: url("folder.png");
    background-position: left center;
    background-repeat: no-repeat;
}

.buddies {
    margin-bottom: 10px;
}

.buddyRow {
    padding-left: 16px;
    background-position: left center;
    background-repeat: no-repeat;
}

.buddyRow.online {
    background-image: url("online.png");
}

.buddyRow.offline {
    background-image: url("offline.png");
}

.buddyRow.authFailed {
    background-image: url("lock.png");
}

.transfers {
    margin-bottom: 10px;
}

.transferRow, .transferRowInner {
    padding-left: 16px;
    background-position: left center;
    background-repeat: no-repeat;
}

.transferRow.upload {
    background-image: url("arrow-up.jpg");
}

.transferRow.download {
    background-image: url("arrow-down.jpg");
}

.transferRowInner.error {
    background-image: url("offline.png");
}

.transferRowInner.complete {
    background-image: url("online.png");
}

.transferRowInner.inProgress {
    background-image: url("lock.png");
}

.transferRowInner.notStarted {
    background-image: url("lock.png");
}
